<nav class="navbar">
    <div class="header-container">
        <a class="header" href="/">Rick & Morty Episodes</a>
    </div>
    <div class="menu-container">
        <div class="nav-links">
            <a class="nav-link" href="/">Home</a>
        </div>
        <div class="search-form">
            <form action="/search" method="get">
                <label>
                    <input class="search-input" type="text" name="searchPhrase" placeholder="Search...">
                </label>
                <input class="submit-button" type="submit" value="Search">
            </form>
        </div>
    </div>
</nav>