{% include 'Partials/topbar.twig' %}
{% include 'Partials/head.twig' %}
{% include 'Partials/navbar.twig' %}
{% include 'Partials/header.twig' %}

<section>

    <h1>404 | Page not found</h1>

</section>

{% include 'Partials/footer.twig' %}